@{
    ViewData["Title"] = "Pi Hosted Playground";
}

<div class="row">
    <div class="col-md-12">
        <h1>Let's integrate a database!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form action="/home/SaveThing" method="post">
            <label>Add a thing:</label>
            <input name="thingName" />
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <h3>Current things:</h3>
        <ul>
            @foreach (var thing in Model)
            {
                <li>@thing.Name</li>
            }
        </ul>
        
    </div>
</div>
